MONGODB_URI=mongodb+srv://victorcuaresmadevs:victorcuaresmadevs@victorcuaresmadevs.twwwqv6.mongodb.net/biegsfritsstore?retryWrites=true&w=majority&appName=victorcuaresmadevs
JWT_SECRET=biegsfritsstore-super-secret-key-2026-lima-peru-v1
PORT=3000
FRONTEND_URL=http://localhost:4200
ADMIN_EMAIL=peabodycuaresmasalhuana@yahoo.com
ADMIN_WHATSAPP=+51917360503
ADMIN_REFERRAL_CODE=2026@Body26feb
